body {

    color:#f7f7f7;
}
.jumbotron {
    background-image: url("/Users/tcjurgens/Documents/Data Analytics/wk_11/UFOs/static/images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }